@import '~/scss/index.scss';

@keyframes text-pop-up-top {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.textPopUp {
  text-align: center;
  -webkit-animation: text-pop-up-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    forwards;
  animation: text-pop-up-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.paragraph {
  color: $secondary;
  line-height: 1.3;
}

.highlightWord {
  font-family: 'Bangla MN', sans-serif;
  color: $text;
}

.logoJoin {
  width: 100%;
  height: 4rem;
}
