@import '@/scss/index.scss';

.navbar {
  display: flex;
  align-items: center;
  height: 7vh;
}

.searchForm {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 7rem;
  width: 100%;
}

.searchInput {
  border: none;
  border-radius: $border2;
  background-color: $blurInput;
  color: $text;
  margin: 1rem 0;
  min-width: 100%;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
  box-sizing: border-box;

  &:hover {
    background-color: #556c8d3d;
  }

  &:focus {
    outline: none;
  }
}

.searchIcon {
  position: absolute;
  left: 51%;
  top: 2.5%;
  cursor: pointer;
  filter: drop-shadow(1px 1px 1px #3d32287f);
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1);
  }
}

.cartIconContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  width: 100%;
}

.cartIcon {
  margin-right: 1rem;
  filter: drop-shadow(1px 1px 1px #3d32287f);
  &:hover {
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 2px #3d32287f);
  }
  &:active {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .searchIcon {
    position: absolute;
    left: 54%;
  }
}
