@import '@/scss/index.scss';

// Logo

@keyframes pullDown {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0%);
  }
}

.pullDown {
  animation: pullDown 0.3s ease-in-out;
}

@keyframes pullUp {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0%);
  }
}

.pullUp {
  animation: pullUp 0.3s ease-in-out;
}

.logoContainer {
  position: fixed;
  padding: 1rem 2.1rem;
  z-index: 20;
}

.logo {
  cursor: pointer;
  filter: drop-shadow(5px 2px 8px #010100);
  &:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
}

// BookMark

.navWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;
}

@keyframes slideDown {
  0% {
    transform: translateY(-76%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-76%);
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 1rem;
  max-width: 5rem;
  height: 100%;
  z-index: 15;
  background-color: $text;
  box-shadow: 0px -100px 20px 0px #3d322880;

  &::after {
    background: transparent;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-left: 2.5rem solid transparent;
    border-right: 2.5rem solid transparent;
    border-bottom: 2.5rem solid $background;
  }
}

.navbar.slideDown {
  animation: slideDown 1.5s ease-out forwards;
}

.navbar.slideUp {
  animation: slideUp 1.5s ease-out forwards;
}

.menuContainer {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  margin-top: 12rem;
}

.icon {
  margin: 0.5rem 0;
  filter: drop-shadow(5px 2px 8px #010100);
  transition: transform ease 0.2s;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1);
  }
}

.titleNavContainer {
  margin-top: auto;
  text-align: center;
  padding-bottom: 2.5rem;
}

.titleNavContainer {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.titleNav {
  transform: rotate(-90deg);
  filter: drop-shadow(5px 2px 8px #010100);
  &:hover {
    transform: rotate(-90deg) scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  &:active {
    transform: rotate(-90deg) scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
}
