@import '@/scss/index.scss';

.navbar {
  z-index: 110;
}

.hidden {
  transform: translateY(-100px);
}

.imageWrapper {
  background-image: url('/images/layer-horizontal.svg');
  background-size: cover;
}
