@import '@/scss/index.scss';

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9vh;
  width: 110%;
  left: -5rem;
  transition: transform 0.7s ease-in-out;
}

.hidden {
  transform: translateY(-100px);
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 7rem;
  margin-bottom: 0.5rem;
  width: 100vw;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.searchForm {
  position: relative;
  display: flex;
  align-items: center;
  left: 4rem;
}

.searchInput {
  width: 25rem;
  padding: 0.5rem 1rem;
  padding-right: 4rem;
  border: none;
  border-radius: $border2;
  background-color: #fffbefd8;
  transition: background-color 0.3s ease;
  box-sizing: border-box;

  &:hover {
    background-color: #a0b1c8e2;
  }

  &:focus {
    outline: none;
  }
}

.searchIconContainer {
  position: absolute;
  left: 31rem;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.iconsSearch {
  display: flex;
  align-items: center;
}

.xIcon,
.searchIcon {
  cursor: pointer;
  margin-left: 0.8rem;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }
}

.xIcon,
.searchIcon,
.cartIcon {
  filter: drop-shadow(1px 1px 1px #3d32287f);
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1);
  }
}

.cartIcon {
  margin-right: 5rem;
  margin-top: 1rem;
}

@media (max-width: 1000px) {
  .navbar {
    width: 104%;
    left: -1rem;
  }
  .searchContainer {
    margin-top: -0.5rem;
  }

  .searchForm {
    left: 1rem;
  }

  .searchIconContainer {
    left: 28rem;
  }

  .cartIcon {
    margin-right: 3rem;
    margin-top: -0.5rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    width: 100%;
    left: 0rem;
  }

  .searchContainer {
    margin-top: 0rem;
  }

  .searchForm {
    left: 0.5rem;
  }

  .searchInput {
    width: 15rem;
  }

  .searchIconContainer {
    left: 17.5rem;
  }

  .cartIcon {
    margin-right: 1rem;
    margin-top: 0rem;
  }
}
