@import '@/scss/index.scss';

.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 7rem;
}

.articleCarousel {
  margin: 5rem 1rem 0 1rem;
  width: 90vw;
}

@media (max-width: 1000px) {
  .body {
    width: 80vw;
  }
}

@media (max-width: 768px) {
  .body {
    width: 70vw;
  }
}
