@import '@/scss/index.scss';

.bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carouselContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lastBookPublishedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bannerAdContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

// @media (max-width: 1000px) {
//   .body {
//     width: 70vw;
//   }
// }

// @media (max-width: 768px) {
//   .body {
//     width: 70vw;
//   }
// }
