@import '~/scss/index.scss';

// Animation

@keyframes text-pop-up-top {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.textPopUp {
  text-align: center;
  line-height: 1.5;
  font-size: $h4;
  -webkit-animation: text-pop-up-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    forwards;
  animation: text-pop-up-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

// Wrapper

.wrapperSign {
  background-color: $tertiary;
  margin: 0;
  border-radius: $border1;
  padding: 2.5rem;
}

// Container

.containerSignUp {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

// Text

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-bottom: 1.2rem;
}

.paragraph {
  color: $secondary;
  line-height: 1.5;
  max-width: 40vw;
  overflow: scroll;
  max-height: 40vh;
  padding-right: 2rem;
}

.highlightWord {
  font-family: 'Bangla MN', sans-serif;
  color: $text;
}

// Form

.formSignUpWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.inputSign {
  border: none;
  border-radius: $border2;
  background-color: $blurInput;
  margin: 1rem 0;
  min-width: 100%;
  padding: 0.5rem 1rem;

  &:hover {
    background-color: $background;
  }
}

.buttonSignUp {
  background-color: $accent;
  color: $background;
  border-radius: $border2;
  font-size: $small;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

// Change to Sing in

.questionContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  text-align: end;
}

.questionIn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  margin: 1rem 0 0 0;
  padding: 0;
  font-size: $small;
}

.signInButtonLink {
  padding: 0;
}

.signInButton {
  background-color: transparent;
  color: $accent;
  border-radius: $border2;
  font-size: $small;
  border: 2px solid $accent;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  transition: transform ease 0.2s;
}

.signInButton:hover {
  transform: translateY(-2px);
}
