@import '@/scss/index.scss';

.body {
  height: 100vh;
  margin: 5rem 3rem 3rem 8rem;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3rem 3rem;
  background-color: $quaternary;
  border-radius: $border2;
}

.catImage {
  margin: 2rem;
  background-color: $tertiary;
  border-radius: $border2;
  padding: 2rem;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
  white-space: nowrap;
}

.titleUsername {
  font-size: $h4;
}

.titleName {
  font-size: $h6;
}

.tabsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3rem;
}

.valuesContainer {
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.ordersContainer,
.wishlistContainer,
.addressesContainer,
.settingsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media (max-width: 768px) {
  .infoContainer {
    flex-direction: column;
  }

  .catImage {
    margin: 1rem;
    padding: 1rem;
  }

  .tabsWrapper {
    margin-top: 3rem;
  }

  .tabContainer {
    margin: 3rem;
  }

  .dataContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  .ordersContainer,
  .wishlistContainer,
  .addressesContainer,
  .settingsContainer {
    flex-basis: 48%;
    width: 48%;
    margin-bottom: 1rem;
  }

  .valuesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
