@import '@/scss/index.scss';

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
}

.input {
  border: none;
  border-radius: $border2;
  background-color: $blurInput;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
  margin-right: 1rem;

  &:hover {
    background-color: #556c8d3d;
  }

  &:focus {
    outline: none;
  }
}

.errorMessage {
  font-size: $small;
  color: $primary;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.saveButton {
  background-color: $accent;
  color: $background;
  border-radius: $border2;
  font-size: $small;
  border: none;
  cursor: pointer;
  padding: $paddingButton;
  margin-top: 0rem;
  white-space: nowrap;
  transition: transform ease 0.2s;
  &:hover {
    transform: translateY(-2px);
  }
}

@media (max-width: 768px) {
  .inputsContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .input {
    width: 15rem;
    margin-right: 1rem;
  }
}
