@import '@/scss/index.scss';

.carouselContainer {
  margin: 7rem 0 0 0;
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carousel {
  width: 80vw;
  padding: 2rem 0;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.carouselWrapper::-webkit-scrollbar {
  display: none;
}
// scroll-behavior: smooth;

// &::-webkit-scrollbar {
//   width: 0;
//   height: 0;
// }
// &:hover {
//   &::-webkit-scrollbar {
//     width: 8px;
//     height: 8px;
//   }

//   &::-webkit-scrollbar-thumb {
//     background-color: #556c8d48;
//     border-radius: 4px;
//   }

//   &::-webkit-scrollbar-track {
//     background-color: #98503e0b;
//     border-radius: 4px;
//   }
// }

.carouselItems {
  display: inline-flex;
}

.carouselItem {
  flex: 0 0 8rem;
  color: $text;
  margin-right: 1rem;
  padding: $paddingButton;
  box-sizing: border-box;
  text-align: center;
  border-radius: $border2;
  border: 2px solid $quaternary;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: $quaternary;
    box-shadow: 1px 2px 8px #3d322823;
  }
}

@media (max-width: 1000px) {
  .carousel {
    width: 93%;
  }
}

@media (max-width: 598px) {
  .carousel {
    width: 80%;
  }
}
