@import '@/scss/index.scss';

.article {
  background-color: $accent;
  width: 100vw;
}

.section {
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 50%;
  border-right: 1px solid $quaternary;
  &:nth-child(3) {
    border-right: none;
  }
}

.icon {
  margin: 1rem;
}

.titleContainer,
.descriptionContainer {
  color: $background;
}

.titleContainer {
  font-size: $h6;
}

.descriptionContainer {
  font-size: $small;
}

@media (max-width: 1300px) {
  .article {
    width: 100vw;
    margin: 0;
  }
}

@media (max-width: 900px) {
  .section {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 3rem;
    margin: 0;
  }

  .infoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border-bottom: 1px solid $quaternary;
    border-right: none;
    padding: 0 1rem;
    &:nth-child(3) {
      border-bottom: none;
    }
  }
}
